*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    height: 7vh;
    width: 100%;
    background-color: rgb(12, 12, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

.navbar{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.image{
    position: relative;
}

.portfolio{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 4rem;
}

.ser{
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
}

.lorem{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.services{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 30px;
    text-align: center;
}

.icon{
    width: 70px;
    height: 70px;
    background: linear-gradient(135deg,#ff0080,#a000f8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    margin: auto;
}
.service-box h3{
    font-size: 2rem;
}

.service-box p{
    font-size: 2rem;
    margin-top: 10px;
    color: #444;
}

.gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.gallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog{
    margin-top: 80px;
    text-align: center;
    font-size: 3rem;
}

.blog-section{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.flowers{
    width: 350px;
}

.flowers img{
    width: 100%;
    border-radius: 10px;
}

.flowers h3{
    color: gray;
    font-size: 1rem;
    margin-top: 10px;
}

.flowers h1{
    font-size: 1.5rem;
    margin-top: 5px;
}

.flowers p{
    font-size: 1.5rem;
    margin-top: 10px;
}

.contact-section {
    width: 100%;
    background-color: #d9d9d9;
    padding: 50px ;
    display: flex;
    justify-content: center;
    gap: 120px;
    text-align: center;
    height: 26vh;
}

.contact-box {
    width: 250px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background-color: #2c3558;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.contact-box h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.contact-box p {
    font-size: 0.95rem;
    color: #444;
    
}
